@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}


body {
    overflow-x: hidden;
    background: #293b5c;  
}

.wrapper {
    text-align: center;

}

.wrapper img {
    width: 30vw;
    height: auto;
    margin-top: -10px;
}

#logo{
    width: 200px;
    height: 200px;
    padding-top: 5%;
}

/*menu*/
.closebtn{
    text-align: left;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}

#profile{
    padding-right: 2%;
    padding-top: 2%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.sidebar {
    display: none;
    position:fixed;
    height: 100%;
    text-align: center;
    background-color: #ffffff; 
    box-shadow: 0 8px 16px 0 ;
    transition: 0.5s; 
    z-index: 10;
    cursor: pointer;
    /* transform: translateX(-50%); centro il menu rispetto al pulsante*/ 
}
.sidebar p{
    font-size: 20px;
    cursor: pointer;
}
/* Stile dei link nel menu */
.sidebar a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 100;
    
}

#profileSidebar {
    top: 0;
    right: 0;
    width: 250px; /* Adjust the width as needed */  
}

#mySidebar
{
    top: 0;
    left: 0;
    width: 250px; /* Adjust the width as needed */  
}

.overlaybar{
    position: fixed;
    top:0;
    bottom:0;
    left:0; 
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: 200ms ease-in-out;
    pointer-events: none;
    opacity: 0;
    z-index: 1;

}

.menu-items p{
    font-size: 30px;
    cursor: pointer;
}
.menu{
    padding-left: 2%;
    padding-top: 2%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.menu-items a:hover {background-color: #f1f1f1}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.btn:hover {
    background-color: #0056b3;
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
}

button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}


.container {
    background-color : white;
    width: 70%;
    height: 25rem;
    border-radius: 30px;
    border: 0;
    margin: 0 auto;
    
}
  /* Container for all the notes */
  .container-box{
    height: 50%;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 20px;
    overflow-y: scroll;
    overflow-x: hidden; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
/*Box of a single note*/
.container-box .box {
    padding: 15px;
    background-color: #f0f0f0;    
    width: 200px;
    min-height: 150px;
    border-radius: 15px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    cursor: default;
}
.container-box .box h2 {
    width: 100%;
    font-size: 18px;
    margin: 0 0 10px 0;
    margin-bottom: -10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.box h2{
    width: max-content;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    position: relative;
    overflow-x: hidden;
}
.box h3{
    width: max-content;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: -15px;
}
.box h4{
    font-size: 15px;
    font-family: Poppins;
    margin-bottom: 0;
    margin-top: 10px;
}
.box h4 a{
    text-decoration: none;
    font-size: 15px;
    font-family: Poppins;
    margin-bottom: 0;
    margin-top: 10px;
}
.box h4:hover{
    color: rgb(134, 134, 134);
    text-decoration: underline;
}
.box a:hover{
    color: rgb(134, 134, 134);
    text-decoration: underline;
}
.box img{
    width:25px;
     height:25px;
}

.container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }   

/* Contenitore della scrollbar */
.container-box::-webkit-scrollbar {
    width: 10px; /* Larghezza della scrollbar */
    
  }
  
  /* Colore della track (sfondo della scrollbar) */
  .container-box::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Colore della thumb (parte mobile della scrollbar) */
  .container-box::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  

.container h1{
    font-size: 40px;
    margin-left: 30px;
    padding-top: 18px;
}

.container p{
    font-size: 40px;
    font-weight: bold;
    color: rgb(169, 169, 169);
    text-align:center;
}

  .new_note {
    position: fixed;
    bottom: 30px;  /* Distanza dal fondo */
    right: 30px;   /* Distanza dal lato destro */
    background-color: #293b5c;  
    color: rgb(227, 197, 2);
    border: 4px solid rgb(227, 197, 2);
    border-radius: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    
  }

  .new_note:hover {
    background-color: #067dfd;
    transform: scale(1.1);  /* Effetto zoom al passaggio del mouse */
  }


.overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: 200ms ease-in-out;
    pointer-events: none;
}

.overlay-search {
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.01);
    transition: 200ms ease-in-out;
    pointer-events: none;
}

.overlayactive {
    opacity: 1;
    pointer-events: all;
}

/* Carousel styles */
.carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-card {
    background-color: #d1e0fc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px #c1d6fe;
    transition: transform 0.3s ease-in-out;
    width: 300px;
    max-width: 100%;
    margin: 10px;
}

/* .note-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
} */

#noteForm input[type="text"]
{
    width: 95%;
    font-size: 20px;
    border-color: #293b5c;
    border-radius: 15px;
}
.input-field label{
    font-size: 20px;
    color: #293b5c;
}
#description{
    width: 95%;
    font-size: 20px;
    border-color: #293b5c;
    border-radius: 20px;

}
#fileType{
    width: 95%;
    font-size: 20px;
    border-color: #293b5c;
    border-radius: 15px;
}


.note-card .btn-link {
    color: #007bff;
    text-decoration: none;
}

.note-card .btn-link:hover {
    text-decoration: underline;
}

.carousel-item {
    margin: 0 15px;
}

.carousel-control-prev, .carousel-control-next {
    filter: invert(0.5);
}
#welcomeUser{
    padding-top: 2%;
    color: #ffffff;
    right: 9%;
    font-size: medium;
    font-family: Poppins;
    position: absolute;
}


.searchBox {
    display: flex;
    width: 300px;
    height: 60px;
    margin-left: 60%;
    background: white;
    border-radius: 50px;
    top : 210px;
    position: absolute;
  }
  
  .searchButton {
    color: white;
    position: absolute;
    right: 12px;
    bottom: 9px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #f5ab2a 0%, #fd4300 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  }
  /*hover effect*/
  button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
  }
  /*button pressing effect*/
  button:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  .searchInput {
    border: none;
    background: none;
    outline: none;
    color: black;
    font-size: 15px;
    padding: 24px 46px 24px 26px;
  }

  #art{
    background-size: contain;
    background-image: url("images/Arts.jpg");
}

#bam{
    background-size: cover;
    background-image: url("images/Business.jpg");
}

#cam{
    background-size: contain;
    background-image: url("images/Comunication.jpg");
}

#engandtech{
    background-size: cover;
    background-image: url("images/Engineering.png");
}

#handlife{
    background-size: cover;
    background-image: url("images/HealthLife.jpg");
}
#human{
    background-size: contain;
    background-image: url("images/Humanities.avif");
}
#law{
    background-size: contain;
    background-image: url("images/Law.jfif");
}
#math{
    background-size: contain;
    background-image: url("images/Math.jfif");
}

#natty{
    background-size: contain;
    background-image: url("images/Natural.jfif");
}

#social{
    background-size: cover;
    background-image: url("images/Social.jfif");
}
#bin{
    position:relative;
    left: 90%;
    bottom: 11%;
}
#bin:hover{
    opacity: 0.5;
}

.courseFilter{
  height: 40px;
  border-radius: 10px;
  padding: 0 12px;
  margin-left: 20px;
  font-size: 15px;
    
}
#courseFilterContainer {
  top : 220px;
  padding-left: 14%;
    position: absolute;
}

#courseFilterContainer label {
  margin-right: 10px;
    
}
#noCoursesMsg {
  margin-top: 10px;
  color: white;
  font-weight: 500;
}