@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: #293b5c;
    background: linear-gradient(to right, #7391db,  #293b5c);
    margin:0 ;
}

#logo{
    width: 400px;
    height: 400px;
    margin-bottom: -250px;
}

.wrapper {
    text-align: center;
}

.wrapper img {
    width: 30vw;
    height: auto;
    margin-top: -10px;
}

.wrapperbot {
    margin-top: -100px;
    height: 500px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    background-color: #34ae97;
    width: 350px;
    height: 100px;
    border-radius: 40px;
    text-align: center;
    align-items: center;
}

.box h1 {
    color: white;
    font-size: 22px;
    padding-left: 50px;
    padding-top: 20px;
    pointer-events: none;

}

.box img {
    width: 200px;
    height: 200px;
    margin-left: -400px;
    margin-top: -130px;
}

.box:hover h1 {
    text-decoration: underline;
    text-shadow: 1px 1px #020202;
    
}



#prof {
    margin-right: -5%;
}

/* CSS for login.html */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.container h1,p,a{
    color: #f9ed6a;
    
}

.container-button{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 25px;
}

.container-button button {
    width: 40%;
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
    background-color: #34ae97;
    border-radius: 10px;
}

form label {
    margin: 10px 0 5px;
    font-size: 14px;
    text-align: center;
    width: 100%;
    font-size : 16px
}

form input {
    width: 80%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #5989bc;
}

.role-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.role-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    width: 200px;
}

.role-button:hover {
    background-color: #0056b3;
}

/* Reduce the distance between the logo and the title */
.logo {
    display:list-item;
    margin: 0 auto;
    width: 150px;
    height: auto;
    padding-top: 2%;
    margin-bottom: -8vw; 
}

.logo:hover {
    opacity: 0.7;
}


/* For the animation of the popup error in index.html */
@keyframes fadeIn {
    from { opacity: 0; transform: translateX(-50%) translateY(-10px); }
    to { opacity: 1; transform: translateX(-50%) translateY(0); }
  }